body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Audiowide:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@media (max-width: 768px) {
  /* Division */
  #root .container > div {
    font-family: 'Audiowide', display;
  }
}

@import url("//fonts.googleapis.com/css2?family=Akaya+Telivigala:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");



@media (max-width:768px){

  /* Span Tag */
  #root div span.beachBoard {
    position: absolute;
    top: -121%;
    text-align: center;
    font-style: normal;
    direction: ltr;
    left: 30%;
  }
  
 }



 .keyboard-row {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.keyboard-row + .keyboard-row {
  margin-top: 0.2rem;
}

.keyboard-button {
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--color-bg-light);
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  flex: 1 1;
  width: 20%;
  height: 40px;
}

#game-keyboard {
  width: 80%;
  margin: 0 auto;
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

#game-keyboard .keyboard-button {
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12px;
  border-color:#039be7;
  border-width:3px;
  box-shadow:0px 0px 11px 6px #ffffff inset;
  color:#020202;
  font-size:10px;
}



