body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Audiowide:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@media (max-width: 768px) {
  /* Division */
  #root .container > div {
    font-family: 'Audiowide', display;
  }
}

@import url("//fonts.googleapis.com/css2?family=Akaya+Telivigala:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");